.pr{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .product1{
    padding-top: 30px;
  }
  .product{
    margin: 15px;
  }
  .card {
    background-color: lightblue;
    box-shadow: 2px 2px 10px 4px blue;
    max-width: 270px;
    padding: 20px;
    text-align: center;
    font-family: arial;
  }
  .card img{
    width: 100%;
    height: 200px;
  }
  .card .text{
    height: 70px;
    overflow: auto;
  }
  .card .price{
    font-size: 24px;
    height: 28px;
  }
  .card h1{
    color: white;
    font-size: 25px;
    height: 28px;
  }
  .card p{
    color: white;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: blue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
    font-size: 23px;
    background-color: rgb(229, 237, 240);
    color: blue;
  }
  .quantity{
    width: 50px;
    height: 20px;
    margin: 10px;
  }
  .checkout button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: blue;
    text-align: center;
    cursor: pointer;
    width: 250px;
    font-size: 18px;
  }
  .checkout button:hover {
    opacity: 0.7;
    font-size: 23px;
    background-color: lightblue;
    color: blue;
  }
  .shopp{
    padding-top: 30px;
    text-align: center;
  }
  @media only screen and (max-width: 900px){
    .shopp{
      padding-bottom: 30px;
    }
  }
  @media only screen and (max-width: 800px){
    .pr{
      display: block;
      width: 300px;
      margin-left: 200px;
    }
    .card h1{
      font-size: 20px;
    }
    .card .price{
      font-size: 17px;
    }
  }
  @media only screen and (max-width: 625px){
    .pr{
      margin-left: 120px;
    }
    .product1{
      padding-top: 60px;
    }
  }
  @media only screen and (max-width: 490px){
    .pr{
      margin-left: 80px;
    }
  }
  @media only screen and (max-width: 400px){
    .pr{
      margin-left: 50px;
    }
  }
  @media only screen and (max-width: 380px){
    .pr{
      margin-left: 10px;
    }
  }
  @media only screen and (max-width: 311px){
    .pr{
      margin-left: -5px;
    }
  }